*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(92, 98, 158);
}
h1{
    color: rgb(39, 6, 158);
    text-align: center;
}
.input-area{
    font-size: 24px;
    border: 2px solid black;
    background-color: rgb(197, 165, 196);
    border-radius: 10px;
    width: 15%;
    height: 40px;
    text-align: center;
    margin-top: 20px;
}

#main-container{
    width: 100%;
    text-align: center;
    font-size: 24px;
}

#submit-btn{
    font-size: 20px;
    width: 10%;
    height: 35px;
    border: 2px solid black;
    background-color: rgb(143, 58, 58);
    border-radius: 20px;
    margin-top: 30px; 
}


#dynamic-container{
    width: 50%;
    margin-top: 60px;
    margin-left: 350px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
}

#mini-container{
    width: 70%;
    height: 40px;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid blue;
    background-color: lightcyan;
    border-radius: 15px;
}